*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* style the navbar */

navbar {
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#navbar__logo {
    background-color: #fff;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 3rem;
}
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align :center;
}

.menu__links{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
}


/* styling the image */
body > .wave__image {
    position: fixed; /* Fix the container to the viewport */
    top: 0;
    left: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    height: 100%;
    z-index: -1; /* Send the container to the background */
}

/* Apply styles to the img element inside .wave__image */
body > .wave__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    
}
.section__story{
    font-size: 1.5rem;
    letter-spacing: 0.02rem;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
    text-align: center;
}
.section__story h1{
    font-size: 4rem;
    font-weight: 10;
}


.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  